<style>
  body {
    margin: 0;
    padding: 0;
  }

  a:-webkit-any-link {
    color: white;
    text-decoration: none;
  }

  .header-container {
    padding: 2rem;
    z-index: 999;
    position: relative;
  }

  .header-center {
    width: 100%;
    position: relative;
  }

  .logo-container {
    width: 7rem;
    position: absolute;
    left: 50%;
    content: '';
    margin-left: -3.5rem;
    top: 50%;
    transform: translate(0, -50%);
  }

  .logo-container img {
    width: 100%;
  }

  .main-menu {
    margin-left: auto;
    margin-right: auto;
  }

  .main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
  }

  .main-menu li {
    float: none;
    display: inline-block;
  }

  .main-menu ul li:nth-child(1) {
    float: left !important;
  }

  .main-menu li:nth-child(2) {
    float: left;
  }

  .main-menu li:nth-child(3) {
    float: left;
  }

  .main-menu li a {
    padding: 10px 20px;
  }

  .cart-icon svg {
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0 1rem;
    margin-top: -0.3rem;
  }
</style>

<header>
  <div class="header-container">
    <div class="header-center">
      <div class="logo-container">
        <a href="{{ shop.url }}"
          ><img src="https://cdn.shopify.com/s/files/1/0592/5355/5293/files/hoome_wordmark.png?v=1659692497"
        ></a>
      </div>
      <nav class="main-menu">
        <ul>
          {% for link in linklists['main-menu'].links -%}
            <li>{{ link.title | link_to: link.url }}</li>
          {%- endfor %}
          <a href="{{ routes.cart_url }}" class="cart-icon" data-drawer-trigger aria-controls="drawer-name" aria-expanded="false">
            <svg
              class="cart-icon"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
            </svg>
          </a>
        </ul>
      </nav>
    </div>
  </div>
</header>
