h0 {
    font-size: 3.5rem;
}

#shopify-section-template--15382252257373__image-banner {
    top: -110px;
    position: relative;
}

.product-title a {
    color: black;
    text-decoration: none;
}

.product-image img {
    border: 1px solid black;
    border-radius: 2.5%;
}